.all
  .single-container
    .header
      .header__logo
        = image_tag "/logo.png", alt: "Rails icon", class: "image", width: "185px", height: "49px"
    .main
      .registration
        電話番号認証
      .contents
        = form_for(@user, url: completed_signup_index_path, method: :get, html: {class: "address-form", id: "signup-form"}) do |f|
          .single__inner
            .single__inner__content
              .address__main
                = f.label :name, "認証番号", class: "address__main__label" 
                = f.text_field :name, class: "address__main__input", placeholder:"認証番号を入力"
              %p.page SMSで届いた認証番号を入力してください
              = f.submit "認証して完了", class: "contents__sub__btn"
          .single__inner__midle
            .single__inner__content
              %h3.chapter__head 30秒たっても認証番号が届かない方へ
              %p.chapter__bottom 電話で認証番号を聞くこともできます。
              = f.submit "電話で認証番号を聞く（通話無料）", class: "contents__sub__btn"
          
          .single__inner__bottom
            .single__inner__content
              %h3.chapter__head  認証番号を再送することもできます。もう一度電話番号を入力して下さい。
              = link_to "電話番号を再度入力する", "/", class: "chapter__head__link"
              .chapter__bottom
                %p
                  ※SMSが届かない場合は
                  = link_to "SMS受信設定", "/", class: "chapter__bottom__link"
                  を確認して、もう一度電話番号を入力してください。
               

              
  
  = render 'layouts/second_footer'